body {
  background-image: url("imgs/imgss.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  font-size: 1110px;
}
h2 {
  font-size: 175px;
}
button {
  width: 200px;
  height: 50px;
  font-size: 100px;
}
