body {
  background-image: url("imgs/bluee.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
h1 {
  font-size: 1110px;
}
h2 {
  font-size: 175px;
  background-image: url();
}
