@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');




body {
  background-image: url(imgs/abme.jpg);
  background-size: cover;
}
h1 {
  font-family: 'Koulen', cursive;

}
h2 {
  font-family: 'Koulen', cursive;
  padding: 20px
}
img {
  width: 200px;
  height: 200px;
}
