@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

#ani {
  top: 150%;
}

@-webkit-keyframes moveup {
  0% { top: 150%; }
  100% { top: 500px;}
}



body {
  background-image: url(imgs/abme.jpg);
  background-size: cover;
}
h1 {
  font-family: 'Koulen', cursive;

}
h2 {
  font-family: 'Koulen', cursive;
  padding: 20px;
}
