@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

#animation {
  top: 150%;
  animation-name: move-up;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes moveup {
  0% { top: 150%; }
  100% { top: 500px;}
}



body {
  background-image: url(imgs/abme.jpg);
  background-size: cover;
}
h1 {
  font-family: 'Koulen', cursive;

}
h2 {
  font-family: 'Koulen', cursive;
  padding: 20px;
}
img {
  border-radius: 40px
}
